#root {
  h3 {
    margin: 0;
  }
  section {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 400px;
      background: rgb(37, 135, 184);

      .datas {
        display: flex;
        gap: 10px;
        .data {
          display: flex;
          flex-direction: column;
          align-items: center;
          background: rgb(14, 81, 96);
          padding: 10px;
        }
      }
    }
  }
}
